.Button {
  border: none;
  padding: 1rem;
  border-radius: 3px;
}

.Secondary {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.Primary {
  background-color: black;
  border: 2px solid black;
  color: white;
}

.Row {
  margin-left: 1rem;
}

.Plain {
  background-color: white;
  border: none;
  padding: 0;
  color: black;
  text-decoration: underline;
}

.Disabled {
  opacity: 0.5;
}
