.Button {
  border: none;
  padding: 1rem;
  border-radius: 3px;
}

.Secondary {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.Primary {
  background-color: black;
  color: white;
}
