.GameGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.WeekSelect {
  display: flex;
  align-items: center;
}

.WeekSelectLabel {
  padding-right: 1rem;
}

.NoGamesFound {
  text-align: center;
  font-size: 2.3rem;
  padding: 3rem 0;
}

.Message {
  @include mobile {
    margin-bottom: 0;
  }
}
