.ScoreInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;

  @include mobile {
    display: block;
  }
}

.WinnerSelect {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
}

.WinnerRadio {
  margin-bottom: 1rem;
}

.ErrorMessage {
  background-color: rgba(243, 28, 28, 0.37);
  border-left: 2px solid rgb(243, 28, 28);
  padding: 1rem;
}
