@keyframes skeleton-shimmer {
  0% {
    opacity: 0.45;
  }

  100% {
    opacity: 0.9;
  }
}

.SkeletonCard {
  background-color: rgba(185, 185, 185, 0.699);
  border-radius: 1rem;
  width: 100%;
  height: 200px;
  margin-top: 2rem;

  animation: skeleton-shimmer 1000ms linear infinite alternate;
  will-change: opacity;
}
